@model GlobalSite.Models.ShoppingCart

@{
	Layout = null;
}

<div class="navbar-text navbar-right" style="margin-right:20px">
	<b>Ваша корзина:</b>
	@Model.Lines.Sum(x => x.Quantity) фото,
	@(Model.PriceTotalValue().ToString() + " грн. ")
</div>