@{
	ViewBag.Title = "Home Page";
}

<div class="text-center">
	<h2>Здравствуйте.</h2>
	<h3>Вы находитесь на закрытом сайте. Войти могут администраторы или приглашенные гости. Гостю для входа нужно ввести код с визитки в следующем окне!</h3>
	<br />
	<div class="btn btn-success">
		@Html.ActionLink("Форма ввода пинкода", "PinCodeForm")
	</div>
</div>