@{
	ViewBag.Title = "Forbidden";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
	<div class="row" style="position:relative; width:98%; height: 460px">
		<div class="col-sm-12 centered" style="position:absolute; top:50%; left:50%; margin: -227px 0 0 -300px;">
			<img src="~/Content/Images/403-en.jpg" style="width: 600px; height: 455px" />
		</div>
	</div>
</div>