@{
	ViewBag.Title = "NotFound";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
	<div class="row" style="position:relative; width:98%; height: 600px">
		<div class="col-sm-12 centered" style="position:absolute; top:50%; left:50%; margin: -300px 0 0 -400px;">
			<img src="~/Content/Images/404-ru.jpg" style="width: 800px; height: 600px" />
		</div>
	</div>
</div>